<section id="hero" style="background-color: rgb(500, 300, 400);">
    
            <div class="container" >
                
                    <h2>WELCOME TO SUPER SPECIALITY HOSPITAL</h2>
                    <div>
                        <img src="https://thumbs.dreamstime.com/b/hospital-building-modern-parking-lot-59693686.jpg" alt="" width="1700px" height="500px">
                    </div>
                        <div>
                            <h5>About the Hospital</h5>
                            <p>A hospital is a health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.</p>
                        </div>
            </div>
</section>